@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root{
    --black-50: #e8dfec;
    --white: #fbfaff;
    --blue: #acdaf1;
    --red: #fc4865;
    --purple: #9121ff;
    --black: #07060a;
    --pink: #fcdabf;
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    --box-shadow-in: 0px 1px 4px rgba(255, 255, 255, 1) inset;
    --shadow-pic: 3px 2px 3px rgba(0, 0, 0, 0.3);

}

*{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0; padding: 0;
}

html{
    top: 0; right: 0; left: 0;
    padding: 0;
}

body{
    background: var(--purple);
    img{
        width: 250px;
    }
}

a{
    text-decoration: none; 
    color: var(--black);
    
    &:hover{
        cursor: pointer;;
        /* color: var(--blue); */
    }
}

/* .box{
    background: var(--blue);
}
.container{
    background: #9121ff;
    .navbar{
        background: #fc4865;
    }
}
.box-circle{
    background: var(--black-50);
} */

.header{
    display: block;
    position: relative;
    font-size: 24px;
    /* box-shadow: var(--box-shadow); */
    padding: 0 25px;
    padding-top: 5%;
    padding-bottom: 3%;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            font-family: "Caveat", cursive;
            margin-left: 1%;
            font-size: 2rem;
            i{
                margin-right: 10px;
            }
        }
        .link-page{
            a{
                color: var(--white);
                white-space: nowrap;
                border-radius: 4rem;
                margin: 10px;
                padding: 5px 15px;
                background: var(--black);
                display: inline-block;
                transition: 0.3s ease;
                font-size: 20px;
                box-shadow: var(--box-shadow-in);

                &:hover{
                    transform: scale(1.1);
                    color: var(--blue);
                    background: var(--black);
                    box-shadow: var(--box-shadow);
                }
            }
        }
        .user{
            margin-right: 1%;
            img{
                width: 50px;
                border-radius: 50%;
                box-shadow: var(--shadow-pic);
            }
        }
    }
}

.home{
    .container{
        margin-left: 5%;
        background: var(--white);
        border-radius: 10% 10% 10% 10% / 20% 20% 20% 20% ; 
        margin-right: 5%;
        height: 400px;
        align-content: space-evenly;
        
        .box{
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
            .head-p1{
                display: flex;
                /* background: #acdaf1; */
                flex-direction: column;

                .home-one{
                    margin: 1rem;
                    font-family: "Oooh Baby", cursive;
                    font-size: 8rem;
                }
                .home-two{
                    margin: 1rem;
                    font-size: 2rem;
                    font-family: "Nothing You Could Do", cursive;
                    font-weight: 600;
                }
            }
            img{
                /* align-items: center; */
                margin-right: 1rem;
                width: 200px;
                /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%); */
                border-radius: 50%;
            }
            h1{
                font-size: 100px;
            }
        }
    }
}