@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

:root{
    --black-50: #e8dfec;
    --white: #fbfaff;
    --blue: #ABD9FF;
    --light-orange: #ffd8a4;
    --orange: #FFB948;
    --black: #1f131f;
    --pink: #FFB6D0;
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    --text-shadow: 12px 15px 0px rgba(255, 73, 97, 0.2);
    --box-shadow-in: 0px 1px 4px rgba(255, 255, 255, 1) inset;
    --shadow-pic: 3px 2px 3px rgba(255,255,255, 0.1);

}

*{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0; padding: 0;
}

html{
    top: 0; right: 0; left: 0;
    padding: 0;
}

body{
    background: var(--white);
    background: linear-gradient(107deg, rgba(255,182,208,0.7231267507002801) 0%, rgba(171,217,255,1) 100%);
    height: 100vh;

    img{
        width: 250px;
    }
}

a{
    color: var(--white);
    text-decoration: none;
}

.header{
    .navbar{
        display: flex;
        justify-content: space-between;

        .box{
            background-color: red;
            margin: 4rem;
            width: fit-content;

            .logo{
                font-size: 2rem;

                a{
                    font-family: "Caveat", cursive;
                    i{
                        margin-right: 1rem;
                    }
                }
            }
            .link-page{
                font-size: 2rem;
                gap: 90px;

                a{
                    margin: 10px;
                }
            }
        }
    }
}

.home{
    .images{
        position: absolute;
        top: 12rem;
        right: 0;
        z-index: -1;

        img{
            width: 800px;
        }
    }
}